<div class="container">
    &nbsp;
    <div class="row">
        <div class='col'>
            <h2>Confirm Route</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 text-left">
            <h2>{{data.delivery.DeliveryName}}</h2>
        </div>

        <div class="col-12 text-left">
            <h2>Truck #{{data.truck.TruckNumber}}</h2>
        </div>
    </div>

    <div class="row text-center border-top">
        <div class="col-md-12 text-center">
            <h3>Drop Assignments</h3>
        </div>
    </div>
    <div class="row border-bottom">
        <div class="col text-center">
            <strong>Scheduled:</strong> {{data.truck.date | date}}; <strong>Actual:</strong> {{ today | date}}
        </div>
    </div>

    <div class="row align-items-center" *ngFor="let da of data.dropAssignments">
        <div class="col-1 strong text-right">
            <strong>{{da.DropOrder}}.</strong>
        </div>
        <div class='col-7'>
            <h4>{{ds.getDrop(da).DropName}}</h4>
        </div>
        <div class="col-4 text-right">
            <strong>{{getTruckKg([da]) | number:'1.0-0'}} kg</strong>
        </div>
    </div>
    <div class="row">
        <div class="offset-7 col-5 text-right">
            <h4>{{ getTruckKg(data.dropAssignments) | number: '1.0-0' }} kg</h4>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
            <span class="alert alert-danger" [hidden]='!invalid'></span>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-6 text-left">
            <button class="btn btn-lg btn-default" (click)="back()">
				<< Back
			</button>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-lg btn-primary" (click)="go()">
				Next >>
			</button>
        </div>
    </div>
</div>