<div class="container">
    <div class="row">
        <div class="col">
            <span class="display-4">Select Truck</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <h4>Country</h4>
        </div>
        <div class="col-md-6 col-lg-5" id="countries">
            <span *ngIf="selectors.countries as countries ; else spinner">
				<select class="form-control form-control-sm"
					[(ngModel)] = "current.country"
					(change)='getDistricts(current.country)' >
					<option *ngFor="let country of countries" [ngValue]="country">
						{{country.Country}}
					</option>
				</select>
			</span>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-2">
            <h4>District</h4>
        </div>
        <div class="col-md-6 col-lg-5" id="districts">
            <span *ngIf="current.country; else disabledSelector">
				<span *ngIf="selectors.districts as districts; else spinner">
					<select class="form-control form-control-sm"
						[(ngModel)] = "current.district"
						(change)='getSeasons(current.district)' [disabled]="districts.length<1">
						<option *ngFor="let district of districts" [ngValue]="district">
							{{district.DistrictName}}
						</option>
					</select>
				</span>
            </span>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-2">
            <h4>Season</h4>
        </div>
        <div class="col-md-6 col-lg-5" id="seasons">
            <span *ngIf="current.district; else disabledSelector">
				<span *ngIf="selectors.seasons as seasons; else spinner">
					<select class="form-control form-control-sm"
						[(ngModel)] = "current.season"
						(change)='getCreditCycles(current.season)' [disabled]="seasons.length<1" >
						<option *ngFor="let season of seasons" [ngValue]="season">
							{{season.SeasonName}}
						</option>
					</select>
				</span>
            </span>
        </div>
    </div>
    <ng-container id="creditcyclecontainer" *ngIf="!view.hideCreditCycles">
        &nbsp;
        <div class="row">
            <div class="col-md-2">
                <h4>Credit Cycle</h4>
            </div>
            <div class="col-md-6 col-lg-5" id="creditcycles">
                <span *ngIf="current.season; else disabledSelector">
					<span *ngIf="selectors.creditCycles as creditCycles; else spinner">
						<select class="form-control form-control-sm"
							[(ngModel)] = "current.creditCycle"
							(change)='getDeliveries(current.creditCycle)' [disabled]="creditCycles.length<1">
							<option *ngFor="let creditCycle of creditCycles" [ngValue]="creditCycle">
								{{creditCycle.CreditCycleName}}
							</option>
						</select>
					</span>
                </span>
            </div>
        </div>
    </ng-container>
    &nbsp;
    <div class="row">
        <div class="col-md-2">
            <h4>Delivery</h4>
        </div>
        <div class="col-md-6 col-lg-5" id="deliveries">
            <span *ngIf="current.creditCycle; else disabledSelector">
				<span *ngIf="selectors.deliveries as deliveries; else spinner">
					<select class="form-control form-control-sm"
						[(ngModel)] = "current.delivery"
						(change)='getTrucks(current.delivery)' [disabled]="deliveries.length<1" >
						<option *ngFor="let delivery of deliveries" [ngValue]="delivery">
							{{delivery.DeliveryName}}
						</option>
					</select>
				</span>
            </span>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-2">
            <h4>Truck</h4>
        </div>
        <div class="col-md-6 col-lg-5" id="trucks">
            <span *ngIf="current.delivery; else disabledSelector">
				<span *ngIf="selectors.trucks as trucks; else spinner">
					<select class="form-control form-control-sm"
						[(ngModel)] = "current.truck"
						(change)="setTruck(current.truck)" [disabled]="trucks.length<1">
						<option *ngFor="let truck of trucks"
							[ngValue]="truck">
								{{ getTruckDescription(truck) }}
						</option>
					</select>
				</span>
            </span>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-10 col-lg-9 ">
            <span class="alert alert-danger" id="alert" [hidden]='!invalid'></span>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-3 text-left align-middle">
            <button id="buttonLogout" *ngIf="!view.isLoggingOut" class="btn btn-lg btn-default" (click)="logout()">
            Logout
          </button>
            <span id="buttonIsLoggingOut" *ngIf="view.isLoggingOut" class="fa fa-spin fa-spinner fa-2x"></span>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-9 text-right">
            <button id="buttonGo" *ngIf="!view.isGoing" class="btn btn-lg btn-primary" (click)="go()" [disabled]="!current.truck || !current.district || !current.delivery">
				Continue
			</button>
            <span id="buttonIsGoing" *ngIf="view.isGoing" class="fa fa-spin fa-spinner fa-2x"></span>
        </div>
    </div>
</div>
<ng-template #spinner><span id="spinner-template" class="fa fa-spinner fa-spin"></span></ng-template>
<ng-template #disabledSelector id='disabled-selector-template'>
    <select id="disabledSelector" class="form-control form-control-sm" [disabled]="true">
	</select>
</ng-template>