@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
}
.footer {
	padding: 10px;
	border-top: 1px grey solid;
	margin-top: 5px;
}
.navheader {
  background: #b5c5e5;
}
.content {
  flex: 1;
	overflow-x: hidden;
  overflow-y: auto;
	padding-right:0px;
	padding-left: 0px;
}
